@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Popppins', sans-serif;
  line-height: 1.6;
  padding: 0 40px;
}

header {
  margin-bottom: 20px;
}

button[type='submit'] {
  padding: 10px;
  background: salmon;
  color: white;
  border-radius: 5px;
  width: 100px;
  border: none;
  cursor: pointer;
}

input[type='text'] {
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

input[type='text']:focus {
  outline: none;
}

#todo-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#todo-list > div {
  border: 1px solid #666;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.done {
  background-color: #ccc;
}
/* ---------------------------------------- */

.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.text-red {
  color: red;
}

.items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.items li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px 20px;
  font-weight: 700;
}

.items li button {
  margin-left: 5dvb;
}

@media (max-width: 500px) {
  .items li {
    width: 100%;
  }
}
